<div class="header">
    <h2>Michaela Zoë's Gift Registry</h2>
    <div class="navigation">
        <div class="image">
            <img *ngIf="this.user.photoURL" [src]="user.photoURL">  
            <h5 class="avatar" *ngIf="!this.user.photoURL" >{{getInitials()}}</h5> 
        </div>
        <div class="menu">
            <a (click)="logout()" class="button" href="">LOGOUT
            </a>  
        </div>
    </div>
</div>
<div class="line">
    <hr>
</div>
