@import '../../assets/styles/variables.scss';

.header {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
}
.line {
    padding: 0 30px;
}

h2 {
    color: $secondary;
}
img {
    width: 40px;
    border-radius: 50px;
    float: left;
    margin-right: 5px;
}
  
  .menu {
    font-size: .8em;
    position: relative;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;
  }
  
  .button {
    text-decoration: none;
    float: right;
    color: $secondary;
    width: 72px;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden
  }
  
  .navigation {
    height: 40px;
    width: 40px;
  }
  .navigation:hover {
    width: 120px;
  }
  
  .navigation:hover .menu{
    opacity: .9;
  }
  
  a {
    text-decoration: none;
  }
  .image {
    height: 40px;
    width: 40px;
    float: left;
  }

  .avatar {
    background-color: $secondary;
    color: $white;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    float: left;
    margin-right: 5px;
    text-align: center;
    line-height: 40px;
  }