<app-action-modal [title]="'Bought'" (exit)="onExit($event)">
        <div *ngIf="item" class="product">
            <h4>{{item.name}}</h4>
            <img [src]="item.image">
        </div>
        <div class="text">
            <p>Select this when you have bought the item, to make sure we do not have any duplicates</p>
        </div>
        <button class="btn action btn-outline-secondary" (click)="onBought()">
            <fa-icon  [icon]="faShoppingCart"></fa-icon>
            Bought</button>
</app-action-modal>
