@import '../../assets/styles/variables.scss';

.text {
    height: 80%;
    p {
        font-size: 18px;
        text-align: left;
    }
}
.action {
    width: 72%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.product{
    width: 100%;
    text-align: center;
    img {
        height: 300px;
    }
}
.group-form {
    text-align: left;
}