<app-action-modal [title]="'Group Buy'" (exit)="onExit($event)">
    <div *ngIf="item" class="product col-12 col-md-6">
        <h4>{{item.name}}</h4>
        <img [src]="item.image">
    </div>
    <div class="col-12 col-md-6" [ngSwitch]="state">
        <div *ngSwitchCase="'start'">
            <form class="group-form" [formGroup]="groupForm">
                <div class="form-group">
                    <label for="name">First Name</label>
                    <input class="form-control"
                     formControlName="name"
                    type="text"
                    id="name"
                    name="inputName"
                    placeholder="First Name" value="" autocomplete="on" />
                </div>
                <div class="form-group">
                    <label for="cellphone">Cellphone Number</label>
                    <input class="form-control"
                     formControlName="cellphone"
                    type="text"
                    id="cellphone"
                    name="cellphone"
                    placeholder="Cell phone" value="" autocomplete="on" />
                </div>
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input class="form-control"
                     formControlName="amount"
                    type="number"
                    id="amount"
                    name="amount"
                    placeholder="Amount" value="" autocomplete="on" />
                </div>
                <button (click)="createGroup()"  class="btn btn-secondary">Create Group</button>
            </form>
        </div>
            <div *ngSwitchCase="'join'">
                <form class="group-form" [formGroup]="groupForm">
                    <div class="form-group">
                        <label for="name">First Name</label>
                        <input class="form-control"
                         formControlName="name"
                        type="text"
                        id="name"
                        name="inputName"
                        placeholder="First Name" value="" autocomplete="on" />
                    </div>
                    <div class="form-group">
                        <label for="cellphone">Cellphone Number</label>
                        <input class="form-control"
                         formControlName="cellphone"
                        type="text"
                        id="cellphone"
                        name="cellphone"
                        placeholder="Cell phone" value="" autocomplete="on" />
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input class="form-control"
                         formControlName="amount"
                        type="number"
                        id="amount"
                        name="amount"
                        placeholder="Amount" value="" autocomplete="on" />
                    </div>
                    <button (click)="joinGroup()"  class="btn btn-secondary">Join Group</button>
                </form>
            </div>
        <div *ngSwitchDefault>
            <div *ngIf="item && !item.groupBuy">
                <div class="text">
                    <p>You may select this option if you want to group together and buy something</p>
                </div>
                <button (click)="startGroup()"  class="action btn btn-outline-secondary">Start Group</button>
            </div>
            <div *ngIf="item && item.groupBuy && group">
                <div class="text">
                    <p>Join this existing group</p>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Person</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let member of group.members; let i = index">
                            <th scope="col">{{i}}</th>
                            <th scope="col">{{member.name}}</th>
                            <th scope="col">{{member.amount}}</th>
                        </tr>
                    </tbody>
                </table>
                <button (click)="inquireToJoinGroup()"  class="action btn btn-outline-secondary">Join Group</button>
            </div>
        </div>
    </div>


</app-action-modal>
