@import '../../assets/styles/variables.scss';

.login-div {
    width: 50%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.parent {
    width: 100%;
    height: 100%;
    position: relative;
}
.paper-shadow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    pointer-events: none;
}
.paper-shadow-top-z-3 {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.paper-shadow-bottom-z-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
.image-div {
    background-color: $secondary;
    border-bottom-right-radius: 20px;
}
.image {
    color: $white;
    width: 70%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    img {
        width: 100%;
        height: 100%;
    }
}
.row {
    margin: 0px;
    height: 100%;
}
.login {
    padding: 60px;
}
hr {
    background-color: $tertiary ;
}
.google-button {
    background-color: $white;
    width: 100%;
}
.google-icon {
    color: #dd4b39;
}
.btn-secondary {
    width: 100%;
    background-color: $secondary;
}

@media only screen and (max-width: 600px) {
    .login-div {
        width: 90%;
        height: 90%;
        border-radius: 20px;
    }
    .login {
        padding: 20px;
        height: 0%;
    }
} 