<div class="parent">
    <div class="login-div">
        <div class="paper-shadow paper-shadow-top-z-3"></div>
        <div class="paper-shadow paper-shadow-bottom-z-3"></div>
        <div class="row">
            <div class="col-md-5 col-sm-12 login">
                <h3>Passwordless Signin</h3>
                <form [formGroup]="emailForm">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control"
                         formControlName="email"
                        type="email"
                        id="email"
                        name="inputName"
                        placeholder="Email" value="" autocomplete="on" />
                    </div>
                    <button (click)="onPasswordlessLogin()"  class="btn btn-secondary" > Login</button>
                </form>
                <hr>
                <button (click)="onLoginWithGoogle()"  class="btn google-button" ><fa-icon class="google-icon" [icon]="faGoogle"></fa-icon> Login With Google</button>
            </div>
            <div class="col-md-7 col-sm-12 image-div">
                <div class="image">
                    <h4>Michaela Zoë's Gift Registry</h4>
                    <img src="../../assets/images/login.png"/>
                </div>
            </div>
        </div>
    </div>
</div>
