<div class="row item">
    <div class="col-6 image">
        <img [src]="image"/>
    </div>
    <div class="col-6 item-desc">
        <div class="product-header">
            <h3>{{name}}</h3>
            <div *ngIf="like" class="likes">
                <fa-icon class="icon like" [icon]="faHeart"></fa-icon>
                <span class="badge badge-pill badge-info">{{like}}</span>
            </div>
        </div>
        <p>{{description}}</p>
    </div>
    <div *ngIf="taken" class="watermark">
        <p>Taken</p>
        <fa-icon class="icon" [icon]="faGift"></fa-icon>
    </div>
    <div *ngIf="locked" class="watermark">
        <p>Locked</p>
        <fa-icon class="icon" [icon]="faLock"></fa-icon>
    </div>
   
</div>
