@import '../../assets/styles/variables.scss';

.item {
    height: 100%;

}
.image {
    height: 100%;
    text-align: center;
    border: solid 1px  rgba(grey, 0.3);
    img {
        max-height: 100%;
        max-width: 100%;
    }
}
.item-desc {
    border: solid 1px rgba(grey, 0.3);
    padding: 10px;
}
.row {
    margin: 0;
}
.product-header {
    display: flex;
    justify-content: space-between;
}
.badge {
    font-size: 66%;
    vertical-align: super;
}
.like {
    color: $red;
}
.icon {
    margin: 0 2px;
}
p {
    font-size: 12px;
}

.watermark {
    transform: rotate(346deg);
    font-size: 46px;
    color: rgba($secondary, 0.30);
    position: absolute;
    font-family: "Denk One", sans-serif;
    text-transform: uppercase;
    padding-left: 6%;
    top: 24px;
    left: 80px;
    text-align: center;
    p {
        font-size: 66px;
        margin: 0;
        line-height: 66px;
    }
}

@media only screen and (max-width: 600px) {
    h3 {
        font-size: 1rem;
    }
    p {       
        font-size: 0.8rem;
    }
    .watermark {
        left: 0px;
        p {
            font-size: 66px;
        }
    }
} 

