<div class="parent">
    <div class="loading-div">
        <img src="../../assets/images/—Pngtree—pregnant woman_573883.png"/>
        <h4><span>Baby</span> is Loading...</h4>
        <div class="animated-gradient"></div>
    </div>
</div>
