@import '../../assets/styles/variables.scss';

.loading-div {
    width: 50%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    img {
        height: 80%;
    }
}
.parent {
    width: 100%;
    height: 100%;
    position: relative;
}
h4 {
    span {
        color: $primary;
    }
}

.animated-gradient {
    height: 20px;
    background: repeating-linear-gradient(to right, $primary 0%, $secondary 50%, $primary 100%);
    width: 50%;
    margin: auto;
    border-radius: 10px;
    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  
  @keyframes gradient { 
    0%   { background-position: 0 0; }
    100% { background-position: -200% 0; }
  }