<ngb-alert *ngFor="let alert of alerts"
            [type]="alert.type"
            (close)="close(alert)" >
    {{alert.message}} <fa-icon [ngClass]="alert.type"
                        class="icon"[icon]="faIcon"></fa-icon>
                        </ngb-alert>
<router-outlet></router-outlet>
<app-loading *ngIf="loadingOverlay"></app-loading>