<app-action-modal [title]="'Show Interest'" (exit)="onExit($event)">
        <div *ngIf="item" class="product col-12">
            <h4>{{item.name}}</h4>
            <img [src]="item.image">
        </div>
        <div class="text">
            <p>You may Lock this product for 48 hours, Giving you time to go out and buy the product</p>
        </div>
        <button class="btn action btn-outline-secondary" (click)="onLock()">
            <fa-icon class="google-icon" [icon]="faLock"></fa-icon>
            Lock</button>
</app-action-modal>