@import '../../assets/styles/variables.scss';

.col-6:nth-child(2) {
    border-left: solid 1px rgba(gray,0.6);
}
.text {
    height: 80%;
    p {
        font-size: 18px;
        text-align: left;
    }
}
.action {
    width: 72%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.product{
    width: 100%;
    text-align: center;
    img {
        height: 300px;
    }
}