<div class="page">
    <app-header></app-header>
    <div class="container background">
        <div  *ngIf="!mobile"  class="row list-header">
            <div class="col-6 header-item">
                <h4>Item</h4>
            </div>
            <div class="col-3 header-item">
                <h4>Available at</h4>
            </div>
            <div class="col-3 header-item">
                <h4>Action</h4>
            </div>
        </div>
        <div  *ngIf="mobile"  class="row list-header">
            <div class="col-12 header-item">
                <h4>Item</h4>
            </div>
        </div>
        <div class="content">
            <div *ngFor="let item of itemList" class="row">
                <app-item class="col-md-6 col-sm-12 item"
                          [name]="item.name"
                          [description]="item.description"
                          [image]="item.image"
                          [like]="item.likes"
                          [taken]="!item.available"
                          [locked]="getLocked(item)"

                          ></app-item>
                <app-find-at class="col-md-3 col-sm-12 border item" [shopList]="item.shops" [unlimited]="unlimited(item)"></app-find-at>
                <app-actions (showInterest)="showInterest(item)"
                            (bought)="onShowBoughtModal(item)"
                            (groupBuy)="onGroupBuy(item)"
                            (like)="onLike(item)"
                            [item]="item"
                  class="col-md-3 col-sm-12 border" ></app-actions>
            </div>
        </div>
        <app-interest 
                        *ngIf="lockModal" 
                        (lock)="onLock($event)"
                        [item]="selectedItem"
                        (exit)="onExitLock($event)"
                        ></app-interest>
        <app-bought-modal 
        *ngIf="boughtModal" 
         [item]="selectedItem"
         (bought)="onBought($event)"
         (exit)="onExitBought($event)"
         ></app-bought-modal>
         <app-group-buy-modal *ngIf="groupByModal" 
            (addToList)="onAddToGroup($event)"
            [group]= "group"
            [item] = "selectedItem"
            (exit)="onExitGroupBuy($event)"></app-group-buy-modal>
         
    </div>
</div>
