@import '../../assets/styles/variables.scss';

.page {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.container {
    padding-top: 40px;
}
.item {
    height: 160px;
    padding: 0;
}
.row {
    margin: 0;
}

.list-header {
    background-color: $primary;
    color: $white;
    margin-bottom: 40px;
    text-align: left;
    padding: 6px;
    position: sticky;
}
.border {
    border: solid 1px  rgba(grey, 0.3);
}

.content
{
    height: 500px;
    overflow-y: scroll;
    margin-bottom: 25px;
}
.content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.content::-webkit-scrollbar
{
    width: 6px;
}

.content::-webkit-scrollbar-thumb
{

	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $secondary;
}