@import '../../assets/styles/variables.scss';

.find-at {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
}
a {
    height: 60px;
    width: 80px;
    margin: 5px;
    padding: 2px;
    border: solid 2px rgba($secondary, 0.6);
    border-radius: 5px;
    text-align: center;
    img {
        width: 80%;
        height: 80%;
    }
}
p {
    color: $gray;
}
.message {
    display: block;
}