<div class="find-at">
    <a  [href]="shop.link" target="_blank" *ngFor="let shop of shopList">
        <img  [src]="shop.image" [alt]="shop.name"/>
    </a>
    <div class="message">
        <p *ngIf="!shopList || shopList.length <= 0">Time for you to be creative</p>
        <p *ngIf="unlimited">Buttons are disabled because you can buy as many or as little as you want</p>
    </div>

</div>
