.text {
    height: 30%;
    p {
        font-size: 18px;
        text-align: left;
        color: gray;
    }
}
.action {
    width: 72%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.product{
    width: 100%;
    text-align: center;
    img {
        height: 300px;
    }
}