/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'assets/styles/variables.scss';

body, html {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: $white;
}

