@import '../../assets/styles/variables.scss';

.modal-container {
    z-index:0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba($secondary, 0.6);
}
.blow-up {
    animation: blowUpModal .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
.modal-actions {
    display: flex;
    justify-content: flex-end;
    height: 10%;

    button {
        margin: 10px;
        background: $white;
        height: 40px;
        width: 40px;
        border-radius: 20px;
        border: none;

    }
}
.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: rgba($primary,0.2);
    border-radius: 0;
    border: none;
}

.action-card {
    background-color: white;
    width: 600px;
    min-height: 300px;
    text-align: center;
    p {
        font-size: 20px;
    }
}
.row {
    margin: 0;
}
.header {
    padding: 10px;
    background-color: $primary;
    color: $white;
    margin-bottom: 10px;
}
.content {
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .action-card {
        width: 96%;
    }
}
