<div class="modal-container blow-up">
    <div class="modal-actions">
        <button (click)="onExitModal()">X</button>
    </div>
    <div class="modal-content">
        <div class="action-card">
            <div class="row header">
                <h3>{{title}}</h3>
            </div>
            <div class="row content">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>
