@import '../../assets/styles/variables.scss';

.action {
    width: 100%;
    text-align: left;
    height: 60px;
    margin: 5px 0;
    display: flex;
}
.actions {
    text-align: center;
}
.icon {
    margin: 0 2px;
}
.small {
    font-size: 60%;
}
.message {
    width: 100%;
    margin: 6px 0 0;
    text-align: center;
    color:$gray;
}
.large {
    font-size: 70px;
    color: $secondary;
    line-height: 70px;
}

