<div class="actions">
    <div class="row">
        <div class="col-6">
            <button (click)="onLike()" class="action btn btn-outline-secondary">
                <fa-icon class="icon" [icon]="faHeart"></fa-icon>Like</button>
        </div>
        <div class="col-6">
            <button (click)="onShowInterest()"
             [disabled]="true"
             class="action btn btn-outline-secondary">
                <fa-icon class="icon" [icon]="faLock"></fa-icon>Lock</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button (click)="onGroupBuy()"
             [disabled]="true"
             class="action btn btn-outline-secondary">
                <span>
                    <fa-icon class="icon" [icon]="faUsers"></fa-icon>
                    <fa-icon class="icon small" [icon]="faShoppingBasket"></fa-icon>
                </span>
            Group Buy</button>
        </div>
        <div class="col-6">
            <button (click)="onBought()"
             [disabled]="item.locked.locked || isAvailable() || item.groupBuy || unlimited()"
             class="action btn btn-outline-secondary">
                <fa-icon class="icon" [icon]="faShoppingCart"></fa-icon>Bought</button>
        </div>
    </div>
</div>
